script.
	var giftofspeed = document.createElement('link');
	giftofspeed.rel = 'stylesheet';
	giftofspeed.href = 'xxxx';
	giftofspeed.type = 'text/css';
	var godefer = document.getElementsByTagName('link')[0];
	godefer.parentNode.insertBefore(giftofspeed, godefer);
	
	var giftofspeed2 = document.createElement('link');
	giftofspeed2.rel = 'stylesheet';
	giftofspeed2.href = 'xxxx';
	giftofspeed2.type = 'text/css';
	var godefer2 = document.getElementsByTagName('link')[0];
	godefer2.parentNode.insertBefore(giftofspeed2, godefer2);

	var giftofspeed3 = document.createElement('link');
	giftofspeed3.rel = 'stylesheet';
	giftofspeed3.href = 'xxxx';
	giftofspeed3.type = 'text/css';
	var godefer3 = document.getElementsByTagName('link')[0];
	godefer3.parentNode.insertBefore(giftofspeed3, godefer3
