style.
	a:hover, a:visited, a:link, a:active { text-decoration: none; }
	@font-face { font-family: 'mallory-condensed'; src: url('xxxx/mallory') format('woff'); font-style: normal; font-weight: 900; }
