- var fiscalWeek = '23';
- var goLiveDate = '20180708';
- var goDate = 'FW2018' + fiscalWeek + '_' + goLiveDate + '_';
- var serverDate = '070818';
- var serverHome = 'xxxx';
- var serverPath = serverHome + serverDate + '/';
- var serverPath0620 = serverHome + '070818/';

//- =====================================================================
//- =====================================================================
//- =====================================================================

//- Hero070818
- var Hero070818_URL = '#';
- var Hero070818_ID = goDate + 'Hero_xxx';
- var Hero070818_IMG_sm = serverPath + '0708-hero-480' + '.jpg';
- var Hero070818_IMG_d = serverPath + '0708-hero-1280' + '.jpg';
- var Hero070818_IMG_lg = serverPath + '0708-hero-1920' + '.jpg';
- var Hero070818_IMG_Alt = 'xxx';
//- 
- var Hero070818_1_URL = '#';
- var Hero070818_1_ID = goDate + 'xxxx';
- var Hero070818_2_URL = '#';
- var Hero070818_2_ID = goDate + 'xxxx';
- var Hero070818_3_URL = '#';
- var Hero070818_3_ID = goDate + 'xxxx';
- var Hero070818_4_URL = '#';
- var Hero070818_4_ID = goDate + 'xxxx';
- var Hero070818_5_URL = '#';
- var Hero070818_5_ID = goDate + 'xxxx';

//- FootwearBTS070818
- var FootwearBTS070818_URL = '#';
- var FootwearBTS070818_ID = goDate + 'xxxx';
- var FootwearBTS070818_IMG_sm = serverPath0620 + 'military-m' + '.jpg';
- var FootwearBTS070818_IMG_d = serverPath0620 + 'military-1280-d' + '.jpg';
- var FootwearBTS070818_IMG_lg = serverPath0620 + 'military-1920-d' + '.jpg';
- var FootwearBTS070818_IMG_Alt = 'xxxx';

//- BackpacksBTS070818
- var BackpacksBTS070818_URL = '#';
- var BackpacksBTS070818_ID = goDate + 'xxx';
- var BackpacksBTS070818_IMG_sm = serverPath0620 + 'military-m' + '.jpg';
- var BackpacksBTS070818_IMG_d = serverPath0620 + 'military-1280-d' + '.jpg';
- var BackpacksBTS070818_IMG_lg = serverPath0620 + 'military-1920-d' + '.jpg';
- var BackpacksBTS070818_IMG_Alt = 'xxxx';

//- Uniforms070818
- var Uniforms070818_URL = '#';
- var Uniforms070818_ID = goDate + 'xxxx';
- var Uniforms070818_IMG = serverPath + 'grills' + '.jpg';
- var Uniforms070818_IMG_alt = 'xxxx';
//- BcgBTS_070818
- var BcgBTS_070818_URL = '#';
- var BcgBTS_070818_ID = goDate + 'xxx';
- var BcgBTS_070818_IMG = serverPath + 'patio' + '.jpg';
- var BcgBTS_070818_IMG_alt = 'xxx';

//- FootballEquipment070818
- var FootballEquipment070818_URL = 'xxx';
- var FootballEquipment070818_ID = goDate + 'xxxx';
- var FootballEquipment070818_IMG_sm = serverPath0620 + 'military-m' + '.jpg';
- var FootballEquipment070818_IMG_d = serverPath0620 + 'military-1280-d' + '.jpg';
- var FootballEquipment070818_IMG_lg = serverPath0620 + 'military-1920-d' + '.jpg';
- var FootballEquipment070818_IMG_Alt = 'xxx';

//- Tailgating070818
- var Tailgating070818_URL = '#';
- var Tailgating070818_ID = goDate + 'xxx';
- var Tailgating070818_IMG = serverPath + 'ath_ap' + '.jpg';
- var Tailgating070818_IMG_alt = 'xxx';
//- Swimwear070818
- var Swimwear070818_URL = '#';
- var Swimwear070818_ID = goDate + 'xxx';
- var Swimwear070818_IMG = serverPath + 'ath_fw' + '.jpg';
- var Swimwear070818_IMG_alt = 'xxxx';

//- Shooting-Sports
- var Shoot070818_URL = 'xxxx';
- var Shoot070818_ID = goDate + 'xxxx';
