include ../components/_head
include ../../components/_mixins
include ../../components/variables/xxxx

section#hero0207.story.m-lauto.m-rauto.m-t1.m-b_5


section#baseballseason.story.mxw-1024.m-lauto.m-rauto.p-l1.p-r1.m-b_5.m-t1
	a.mxw-1024.m-lauto.m-rauto.show-block.story.z-text-align-center(href='', data-ta-intcmp='1', data-ta-intcmp-loc='', data-ta-intcmp-id='')


section#athletic.story.mxw-1024.m-lauto.m-rauto.p-t_5.p-b_5.p-l1.p-r1
	.p-2.show-block.story
		.mxw-768.m-rauto.m-lauto
			a.mxw-1024.m-lauto.m-rauto.show-block.story.z-text-align-left
				h3.heading__up-to.t-white.z-text-align-left
					span
					span
					span.t-cond(style='font-size:3em') New Arrivals
					span.t-cond(style='font-size:1.5em') From Top Brands
			.btn-container.m-t1.mxw-384
				.flex.grow
					a.grow.m-_5.t-cond.z-btn.z-btn-ghost-white
					a.grow.m-_5.t-cond.z-btn.z-btn-ghost-white
				.flex.grow
					a.grow.m-_5.t-cond.z-btn.z-btn-ghost-white
					a.grow.m-_5.t-cond.z-btn.z-btn-ghost-white


include ../../components/_footer.pug
